* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: rgb(245, 245, 245);
}

.header {
    padding: 46px 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header_link {
    color: rgb(31, 21, 52);
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    text-decoration: none;
    transition: 0.10s ease-in-out;
}
.header_link:hover {
    color: rgb(71, 126, 255);
}

.hero {
    padding-top: 50px;
}

.hero_title {
    color: rgb(0, 0, 0);
    font-family: "Mulish";
    font-size: 48px;
    font-weight: 200;
    line-height: 56px;
    width: 421.21px;
    height: 98.25px;
}

.hero_text {
    color: rgb(125, 121, 135);
    font-family: "Mulish";
    font-size: 21px;
    font-weight: 200;
    line-height: 32px;
    width: 440px;height: 84.21px;
    margin-top: 26.32px;
}

.hero_btn {
    border-radius: 55px;
    background: rgb(69, 143, 246);
    width: 197.75px;
    height: 49.12px;
    border: 0;
    color: rgb(255, 255, 255);
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    margin-top: 30px;
    transition: 0.5s ease-in-out;
}

.hero_btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(69, 143, 246);
}

.hero_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services {
    padding-top: 91px;
    padding-bottom: 76px;
}

.services__textbox {
    width: 952px;
    text-align: center;
    margin: 0 auto;
}

.services_title {
    color: rgb(0, 0, 0);
    font-family: "Mulish";
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
}
.services_text {
    margin-top: 61px;
    color: rgb(125, 121, 135);
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.services__item {
    margin-bottom: 20px;
    width: 380px;
    border-radius: 20px;
    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background-color: #E7E7E7;
    padding: 52px 56px;
}

.services__item:hover {
    background-color: #5A98F2;
}

.services__item:hover .services_mintitle {
    color: white;
}

.services__item:hover .services_ttext {
    color: white;
}

.services_mintitle {
    color: rgb(0, 0, 0);
    font-family: "Mulish";
    font-size: 24px;
    font-weight: 200;
    line-height: 56px;
}

.services_text {
    color: rgb(125, 121, 135);
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.services__btn {
    border: 1.4px solid rgb(69, 143, 246);
    border-radius: 55px;
    width: 200px;
    color: rgb(69, 143, 246);
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    padding: 17px 0;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.title {
    color: rgb(0, 0, 0);
    font-family: "Mulish";
    font-size: 48px;
    font-weight: 200;
    line-height: 56px; 
    text-align: center; 
}

.info {
    padding-top: 75px;
}

.info_img {
    width: 628px;
    height: 469.15px;
}

.info_title {
    color: rgb(0, 0, 0);
    font-family: "Mulish";
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
    width: 434.98px;
}

.info_text {
    color: rgb(125, 121, 135);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    width: 434.98px;
    height: 121.59px;
}

.info_btn {
    margin-top: 57px;
    box-sizing: border-box;
    border: 1.4px solid rgb(69, 143, 246);
    border-radius: 55px;
    background-color: transparent;
    width: 201.92px;
    color: rgb(69, 143, 246);
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    padding: 17px;
}

.ttitle {
    color: rgb(0, 0, 0);
    font-family: "Mulish";
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
    text-align: center;
    margin-top: 152px;
}

.check {
    padding-top: 91px;
    padding-bottom: 76px;
}

.check_item {
    width: 380px;
    height: 504px;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 20px;
    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background-color: #E7E7E7;
}

.check_title {
    color: rgb(0, 0, 0);
    font-family: "Mulish";
    font-size: 21px;
    font-weight: 200;
    line-height: 32px;
    width: 237px;
    margin-left: 30px;
    margin-right: 113px;
    margin-top: 30px;
}

.check_text {
    color: rgb(125, 121, 135);
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    width: 266px;
    margin-left: 30px;
    margin-right: 80px;
}

.check_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.check_btn {
    border: 1.4px solid rgb(69, 143, 246);
    border-radius: 55px;
    width: 200px;
    color: rgb(69, 143, 246);
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    padding: 17px 0;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer {
    background: linear-gradient(211.68deg, rgb(103, 195, 243) 8.549%,rgb(90, 152, 242) 70.494%);
    padding: 20px 0;
    width: 1280px;
    height: 432px;
    padding-top: 159px;
}

.footer_text {
    color: rgb(255, 255, 255);
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
    width: 386px;
    height: 84px;  
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_list {
    list-style: none;
}

.footer_link {
    color: rgb(255, 255, 255);
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
    text-decoration-line: none;
}